.background{
    height: 100vh;
    min-height: 500px;
    background-image: url('https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/15.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.page-section{
  padding: 6rem;
}
.section-heading{
  font-weight:bold;
  margin-bottom: 1rem;
}
.section-subheading{
  margin-bottom: 4rem;
}